.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mainSec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: arial;
    font-size: 15px;
    height: 10px;
    width: 300px;
}
.GetAvgBtn{
    margin-left:10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: arial;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.5s, background-color 0.5s;
}
.GetAvgBtn:hover{
    opacity: 0.5;
}
.GetAvgBtn:active{
    background-color: rgb(60, 60, 60);
}